[user]
	name = libin
	email = tony581@163.com
[core]
	excludesfile = /Users/lb/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	logg = log --oneline --graph
